---
import Project from "./Project.astro";
import Heading from "../ui/Heading.astro";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

const allPosts = await getCollection("projects");

allPosts.sort(
  (a, b) =>
    new Date(b.data.pubDate).getTime() -
    new Date(a.data.pubDate).getTime(),
);
---

<section
  class="bg-linear-to-t dark:from-[#0e0e10] from-white from-50% to-transparent to-100% scroll-m-16 relative pt-8 pb-32 max-2xl:px-8 max-md:pt-4"
  id="projects"
>
  <div class="mx-auto max-w-7xl py-8">
    <div class="flex gap-4 items-center justify-center text-center">
      <Icon class="text-3xl dark:text-white text-blacktext" name="code" />
      <Heading text="Projects" textGradient="Completed" level={2} />
    </div>

<p
  class="z-2 text-center mx-auto text-base max-xl:text-sm max-w-2xl dark:text-gray-200 text-blacktext my-6 leading-6 font-normal"
>


      A curated collection of high-performance <b
        class="bg-linear-to-r from-riptide-500 to-mint-500 dark:from-riptide-300 dark:to-mint-200 text-transparent bg-clip-text"
        >web design and development</b
      > projects, including e-commerce websites, landing pages, and scalable digital platforms built to enhance user experience, increase engagement, and drive business growth.
       
    </p>
    <slot />
  </div>

<div
  id="containerProjects"
  class="mx-auto max-w-7xl grid grid-cols-3 max-lg:grid-cols-2 max-md:grid-cols-1 gap-5 p-2 py-4 max-h-[1400px] overflow-hidden transition-[max-height] duration-700 ease-in-out"
>
{
  allPosts.map((post) => (
    <Project
      url={`/portfolio/projects/${post.slug}`}
      title={post.data.title}
      description={post.data.description}
      date={post.data.pubDate}
      languages={post.data.languages}
      image={post.data.image}
    />
  ))
}
  </div>

  <div
    id="moreProjects"
    class="absolute bottom-0 left-0 w-full flex justify-center text-center bg-linear-to-t from-[#FBFEFD] dark:from-[#0e0e10] from-55% to-transparent to-100% pb-30 pt-52"
  >
    <button
      class="absolute font-bold cursor-pointer text-mint-400 dark:text-mint-100 hover:text-mint-500 dark:hover:text-mint-300 transition-all"
    >
      View More Projects...
    </button>
  </div>
</section>

<script>
  document.querySelector("#moreProjects")?.addEventListener("click", () => {
    const container = document.querySelector("#containerProjects") as HTMLElement;
    const moreProjectsBtn = document.querySelector("#moreProjects");

    if (container && moreProjectsBtn) {
      const fullHeight = container.scrollHeight; // 1️⃣ leer primero
      container.style.maxHeight = fullHeight + "px"; // 2️⃣ modificar después
      setTimeout(() => {
        moreProjectsBtn.classList.add("hidden");
      }, 700);
    }
  });
</script>
