---
import Layout from "./Layout.astro";
import { Icon } from "astro-icon/components";
import Heading from "../components/ui/Heading.astro";
import Experience from "../components/portfolio/Experience.astro";
import NavArticle from "../components/layout/NavArticle.astro";
import Contact from "../components/portfolio/Contact.astro";
import Tools from "../components/portfolio/Tools.astro";
import SidebarStats from "../components/layout/SidebarStats.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const [staticData] = await getCollection("staticData");

const {
  profileImage,
  profileAlt
} = staticData.data;

const { frontmatter } = Astro.props;
---

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll("h1, h2, h3, h4, h5, h6").forEach((header) => {
      header.classList.add("scroll-m-28");
    });
  });
</script>

<Layout
  pageTitle={frontmatter.title}
  description={frontmatter.description}
  ogimage={frontmatter.image}
>
  <section
    class="w-full px-8 mt-5 max-sm:px-4 py-4 flex flex-row justify-center gap-6"
  >
    <SidebarStats />

    <article
      class="flex flex-col gap-8 max-w-3xl max-md:w-full pb-10 pt-8 mt-8 max-sm:mt-0 px-14 max-md:px-10 max-sm:px-6 dark:bg-transparent bg-white dark:border-0 border border-neutral-100 rounded-2xl"
    >
      <div class="w-full h-auto mb-4 mx-auto" id="#">
        <div
          class="transition-all justify-center w-full gap-8 max-md:gap-3 max-lg:gap-2 flex flex-col items-center z-0 relative dark:from-mint-950 dark:to-zinc-950"
        >
          <div class="aspect-square h-60 max-md:size-32">
  <!-- wrapper -->
  <div class="group relative z-10 flex w-full h-full cursor-pointer items-center justify-center overflow-hidden rounded-full p-[2px] transition-all duration-500 group-hover:scale-105">

    <!-- 🔥 borde animado -->
    <div
      class="absolute inset-0 rounded-full bg-conic/[from_var(--border-angle)] animate-rotate-border dark:from-transparent dark:to-mint-300 from-transparent to-riptide-500"
    ></div>

    <!-- fondo interior -->
    <div class="relative z-20 w-full h-full rounded-full bg-mint-900 overflow-hidden">

      <!-- 🔥 IMAGE (ASTRO WAY) -->
      <Image
        src={profileImage}
        alt="Photo of Grecia V. for the blog"
        class="w-full h-full object-cover rounded-full"
      />

      <!-- clickable overlay -->
      <a
        href="/about-me"
        class="absolute inset-0"
        aria-label="View about me page"
      ></a>

    </div>
  </div>
</div>

          <div class="w-full flex flex-col justify-center gap-4 max-md:gap-2">
            <div class="text-center">
              <Heading textGradient="Grecia V." />
            </div>

            <p
              class="text-lg max-xl:text-base text-blacktext dark:text-gray-200 mb-0 leading-8 font-semibold"
            >
              <b
                class="bg-linear-to-r from-riptide-400 to-mint-500 dark:to-mint-200 dark:from-riptide-300 text-transparent bg-clip-text"
                >Web developer and designer</b
              > with <b
                class="bg-linear-to-r from-riptide-400 to-mint-500 dark:to-mint-200 dark:from-riptide-300 text-transparent bg-clip-text"
                >5+ years of experience</b
              >, passionate about design, development, user interfaces and user experience (UI/UX).
I love bringing digital projects to life. 🚀
            </p>
          </div>
        </div>
      </div>
      <div class="flex gap-4 items-center">
        <Heading text="About" textGradient="me" />
      </div>

      <div class="markdown text-white text-lg max-xl:text-base" id="content">
        <slot />
      </div>
    </article>
    <NavArticle title={frontmatter.title} />
  </section>
  <section class="py-8 px-8 max-md:py-4 mb-4 scroll-m-16" id="experience">
    <div class="flex flex-col gap-8 pt-8 max-w-4xl mx-auto">
      

      <Experience />
    </div>
  </section>
  <section class="py-8 px-8 max-md:py-4 mt-10 mb-20 scroll-m-16" id="sttack">
    <div class="flex flex-col gap-8 max-w-3xl justify-center mx-auto">
      <div class="flex gap-4 items-center justify-center">
        <Icon class="text-3xl text-white" name="dashboard" />
        <Heading text="Stack" textGradient="Technological" level={2} />
      </div>
      <Tools variant="center" />
    </div>
  </section>
  <Contact />
</Layout>
